/* Ajuste para imagens dos cards terem o mesmo tamanho */
.card-img-top {
    height: 180px;
    object-fit: cover;
}

/* Estilo para fontes customizadas */
#titulo-site, h3 {
    font-family: 'Jomhuria'
}